@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="jumbotron">
            <center>
                <h1>UTILITIES APP</h1>
            </center>
            <center>
                <p class="lead">Utilities App es una aplicacion web con que ofrece varias funcionalidades, como agenda, calendario de eventos, consulta de materias y lector archivos de Excel.</p>
                <p><a href="/Account/Register" class="btn btn-primary">¡Inicia Ahora!</a></p>
            </center>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h3>Consulta de Materias</h3>
                <p>
                    Un formulario donde se elija el miembro del grupo a consultar y que muestre las asignaturas dicho miembro del grupo está cursando este cuatrimestre.
                </p>
                <center>
                    <a href="/ESTUDIANTEs/Consultar_Estudiantes" class="btn btn-primary">Realizar Consulta</a>
                </center>
            </div>

            <div class="col-md-3">
                <h3>Agenda electrónica</h3>
                <p>Podremos ver los contactos guardados en nuestra agenta, editarlos, eliminarlos y filtrarlos por Nombre o Numero de celular</p>
                <center>
                    <p><button type="button" class="btn btn-primary" href=" ">Ir a la Agenda</button></p>
                </center>
            </div>

            <div class="col-md-3">
                <h3>Calendario de Eventos</h3>
                <p>Podremos Registrar nuestros eventos para tenerlos pendientes y nunca perder ninguno.</p>
                <center>
                    <p><button type="button" class="btn btn-primary" href=" ">Ir al Calendario</button></p>
                </center>
            </div>

            <div class="col-md-3">
                <h3>Lector de Archivos</h3>
                <p>Puede seleccionar un archivo de Excel para verificar su contenido.</p>
                <center>
                    <button type="button" class="btn btn-primary" href=" ">Leer Archivo</button>
                </center>
            </div>
        </div>
    </body>
</html>